Package: msp-osd
Version: 0.12.0-dev
Maintainer: bri3d
Description: MSP OSD service for the DJI HD FPV goggles.
Architecture: pigeon-glasses
Depends: wtfos-modloader, wtfos-package-config
Homepage: https://github.com/fpv-wtf/msp-osd
