Package: msp-osd
Version: 0.3.1
Maintainer: bri3d
Description: MSP OSD service for the DJI HD FPV goggles. Press back button for five seconds to enter/exit MSP OSD mode.
Architecture: pigeon-glasses
Depends: dinit wtfos-opkg-config
