Package: msp-osd
Version: 0.11.0-dev
Maintainer: bri3d
Description: MSP OSD service for the DJI HD FPV airunit.
Architecture: pigeon-airside
Depends: dinit, wtfos-opkg-config, wtfos-package-config
Homepage: https://github.com/fpv-wtf/msp-osd
